@import "~normalize.css/normalize.css";

body {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

* {
  outline: none !important;
}
